USE [QLDASV]
GO
ALTER TABLE [dbo].[TAIKHOANSV] DROP CONSTRAINT [CK_TAIKHOANSV]
GO
ALTER TABLE [dbo].[TAIKHOANQL] DROP CONSTRAINT [CK_TAIKHOANQL]
GO
ALTER TABLE [dbo].[TAIKHOANGV] DROP CONSTRAINT [CK_TAIKHOANGV]
GO
ALTER TABLE [dbo].[TAIKHOAN] DROP CONSTRAINT [CK_MAPHANQUYEN]
GO
ALTER TABLE [dbo].[SINHVIEN] DROP CONSTRAINT [CK_XETDOAN]
GO
ALTER TABLE [dbo].[SINHVIEN] DROP CONSTRAINT [CK_GIOITINH]
GO
ALTER TABLE [dbo].[CT_DOAN] DROP CONSTRAINT [CK_GVPB]
GO
ALTER TABLE [dbo].[CT_DOAN] DROP CONSTRAINT [CK_DIEMPB]
GO
ALTER TABLE [dbo].[CT_DOAN] DROP CONSTRAINT [CK_DIEMHD]
GO
ALTER TABLE [dbo].[CHAM] DROP CONSTRAINT [CK_DIEMTIEUBAN]
GO
ALTER TABLE [dbo].[TIEUBAN] DROP CONSTRAINT [FK_TIEUBAN_HOIDONGBAOCAO]
GO
ALTER TABLE [dbo].[TAIKHOANSV] DROP CONSTRAINT [FK_TAIKHOANSV_TAIKHOAN]
GO
ALTER TABLE [dbo].[TAIKHOANSV] DROP CONSTRAINT [FK_TAIKHOANSV_SINHVIEN]
GO
ALTER TABLE [dbo].[TAIKHOANQL] DROP CONSTRAINT [FK_TAIKHOANQL_TAIKHOAN]
GO
ALTER TABLE [dbo].[TAIKHOANQL] DROP CONSTRAINT [FK_TAIKHOANQL_QUANLY]
GO
ALTER TABLE [dbo].[TAIKHOANGV] DROP CONSTRAINT [FK_TAIKHOANGV_TAIKHOAN]
GO
ALTER TABLE [dbo].[TAIKHOANGV] DROP CONSTRAINT [FK_TAIKHOANGV_GIANGVIEN]
GO
ALTER TABLE [dbo].[TAIKHOAN] DROP CONSTRAINT [FK_TAIKHOAN_PHANQUYEN]
GO
ALTER TABLE [dbo].[CT_TIEUBAN] DROP CONSTRAINT [FK_CHITIETTIEUBAN_TIEUBAN]
GO
ALTER TABLE [dbo].[CT_TIEUBAN] DROP CONSTRAINT [FK_CHITIETTIEUBAN_GIANGVIEN]
GO
ALTER TABLE [dbo].[CT_DOAN] DROP CONSTRAINT [FK_DOAN_GVHD_SINHVIEN]
GO
ALTER TABLE [dbo].[CT_DOAN] DROP CONSTRAINT [FK_DOAN_GVHD_GIANGVIEN1]
GO
ALTER TABLE [dbo].[CT_DOAN] DROP CONSTRAINT [FK_DOAN_GVHD_GIANGVIEN]
GO
ALTER TABLE [dbo].[CT_DOAN] DROP CONSTRAINT [FK_DOAN_GVHD_DOAN]
GO
ALTER TABLE [dbo].[CHAM] DROP CONSTRAINT [FK_CHAM_GIANGVIEN]
GO
ALTER TABLE [dbo].[CHAM] DROP CONSTRAINT [FK_CHAM_DOAN]
GO
/****** Object:  Index [UK_TENTB]    Script Date: 6/11/2021 5:29:02 PM ******/
ALTER TABLE [dbo].[TIEUBAN] DROP CONSTRAINT [UK_TENTB]
GO
/****** Object:  Index [UK_MASV]    Script Date: 6/11/2021 5:29:02 PM ******/
ALTER TABLE [dbo].[TAIKHOANSV] DROP CONSTRAINT [UK_MASV]
GO
/****** Object:  Index [UK_MADANGNHAP]    Script Date: 6/11/2021 5:29:02 PM ******/
ALTER TABLE [dbo].[TAIKHOANSV] DROP CONSTRAINT [UK_MADANGNHAP]
GO
/****** Object:  Table [dbo].[TIEUBAN]    Script Date: 6/11/2021 5:29:02 PM ******/
DROP TABLE [dbo].[TIEUBAN]
GO
/****** Object:  Table [dbo].[TAIKHOANSV]    Script Date: 6/11/2021 5:29:02 PM ******/
DROP TABLE [dbo].[TAIKHOANSV]
GO
/****** Object:  Table [dbo].[TAIKHOANQL]    Script Date: 6/11/2021 5:29:02 PM ******/
DROP TABLE [dbo].[TAIKHOANQL]
GO
/****** Object:  Table [dbo].[TAIKHOANGV]    Script Date: 6/11/2021 5:29:02 PM ******/
DROP TABLE [dbo].[TAIKHOANGV]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 6/11/2021 5:29:02 PM ******/
DROP TABLE [dbo].[TAIKHOAN]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 6/11/2021 5:29:02 PM ******/
DROP TABLE [dbo].[SINHVIEN]
GO
/****** Object:  Table [dbo].[QUANLY]    Script Date: 6/11/2021 5:29:02 PM ******/
DROP TABLE [dbo].[QUANLY]
GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 6/11/2021 5:29:02 PM ******/
DROP TABLE [dbo].[PHANQUYEN]
GO
/****** Object:  Table [dbo].[HOIDONGBAOCAO]    Script Date: 6/11/2021 5:29:02 PM ******/
DROP TABLE [dbo].[HOIDONGBAOCAO]
GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 6/11/2021 5:29:02 PM ******/
DROP TABLE [dbo].[GIANGVIEN]
GO
/****** Object:  Table [dbo].[DOAN]    Script Date: 6/11/2021 5:29:02 PM ******/
DROP TABLE [dbo].[DOAN]
GO
/****** Object:  Table [dbo].[CT_TIEUBAN]    Script Date: 6/11/2021 5:29:02 PM ******/
DROP TABLE [dbo].[CT_TIEUBAN]
GO
/****** Object:  Table [dbo].[CT_DOAN]    Script Date: 6/11/2021 5:29:02 PM ******/
DROP TABLE [dbo].[CT_DOAN]
GO
/****** Object:  Table [dbo].[CHAM]    Script Date: 6/11/2021 5:29:02 PM ******/
DROP TABLE [dbo].[CHAM]
GO
/****** Object:  Table [dbo].[CHAM]    Script Date: 6/11/2021 5:29:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAM](
	[MAGV] [nchar](10) NOT NULL,
	[MADOAN] [nchar](10) NOT NULL,
	[DIEMTIEUBAN] [float] NULL,
 CONSTRAINT [PK_CHAM_1] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC,
	[MADOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_DOAN]    Script Date: 6/11/2021 5:29:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DOAN](
	[MASV] [nchar](10) NOT NULL,
	[MADOAN] [nchar](10) NULL,
	[MAGVHD] [nchar](10) NULL,
	[DIEMHD] [float] NULL,
	[MAGVPB] [nchar](10) NULL,
	[DIEMPB] [float] NULL,
	[MATIEUBAN] [nchar](10) NULL,
 CONSTRAINT [PK_DOAN_GVHD] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_TIEUBAN]    Script Date: 6/11/2021 5:29:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_TIEUBAN](
	[MATIEUBAN] [nchar](10) NOT NULL,
	[MAGV] [nchar](10) NOT NULL,
 CONSTRAINT [PK_CHITIETTIEUBAN_1] PRIMARY KEY CLUSTERED 
(
	[MATIEUBAN] ASC,
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DOAN]    Script Date: 6/11/2021 5:29:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOAN](
	[MADOAN] [nchar](10) NOT NULL,
	[TENDOAN] [nvarchar](50) NOT NULL,
	[MAGV] [nchar](10) NULL,
 CONSTRAINT [PK_DOAN] PRIMARY KEY CLUSTERED 
(
	[MADOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 6/11/2021 5:29:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[MAGV] [nchar](10) NOT NULL,
	[TENGV] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_GIANGVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOIDONGBAOCAO]    Script Date: 6/11/2021 5:29:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOIDONGBAOCAO](
	[MAHDBC] [nchar](10) NOT NULL,
	[TENHDBC] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_HOIDONGBAOCAO] PRIMARY KEY CLUSTERED 
(
	[MAHDBC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 6/11/2021 5:29:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[MAPHANQUYEN] [int] NOT NULL,
	[TENPHANQUYEN] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PHANQUYEN] PRIMARY KEY CLUSTERED 
(
	[MAPHANQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUANLY]    Script Date: 6/11/2021 5:29:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUANLY](
	[MAQL] [nchar](10) NOT NULL,
	[TENQL] [nvarchar](50) NULL,
 CONSTRAINT [PK_QUANLY] PRIMARY KEY CLUSTERED 
(
	[MAQL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 6/11/2021 5:29:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [nchar](10) NOT NULL,
	[TENSV] [nvarchar](50) NOT NULL,
	[LOP] [nchar](10) NOT NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[XETDOAN] [int] NULL CONSTRAINT [DF_SINHVIEN_XETDOAN]  DEFAULT ((0)),
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 6/11/2021 5:29:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MADANGNHAP] [nchar](10) NOT NULL,
	[MATKHAU] [nchar](50) NOT NULL,
	[MAPHANQUYEN] [int] NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[MADANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOANGV]    Script Date: 6/11/2021 5:29:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOANGV](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[MAGV] [nchar](10) NOT NULL,
	[MADANGNHAP] [nchar](10) NOT NULL,
 CONSTRAINT [PK_TAIKHOANGV] PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOANQL]    Script Date: 6/11/2021 5:29:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOANQL](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[MAQL] [nchar](10) NOT NULL,
	[MADANGNHAP] [nchar](10) NOT NULL,
 CONSTRAINT [PK_TAIKHOANQL] PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOANSV]    Script Date: 6/11/2021 5:29:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOANSV](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[MASV] [nchar](10) NOT NULL,
	[MADANGNHAP] [nchar](10) NOT NULL,
 CONSTRAINT [PK_TAIKHOANSV] PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TIEUBAN]    Script Date: 6/11/2021 5:29:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIEUBAN](
	[MATIEUBAN] [nchar](10) NOT NULL,
	[TENTIEUBAN] [nvarchar](50) NOT NULL,
	[MAHDBC] [nchar](10) NULL,
 CONSTRAINT [PK_TIEUBAN_1] PRIMARY KEY CLUSTERED 
(
	[MATIEUBAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CHAM] ([MAGV], [MADOAN], [DIEMTIEUBAN]) VALUES (N'GV004     ', N'DOAN001   ', 8)
INSERT [dbo].[CHAM] ([MAGV], [MADOAN], [DIEMTIEUBAN]) VALUES (N'GV005     ', N'DOAN001   ', 8)
INSERT [dbo].[CHAM] ([MAGV], [MADOAN], [DIEMTIEUBAN]) VALUES (N'GV006     ', N'DOAN001   ', 8)
INSERT [dbo].[CT_DOAN] ([MASV], [MADOAN], [MAGVHD], [DIEMHD], [MAGVPB], [DIEMPB], [MATIEUBAN]) VALUES (N'N18DCCN002', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[CT_DOAN] ([MASV], [MADOAN], [MAGVHD], [DIEMHD], [MAGVPB], [DIEMPB], [MATIEUBAN]) VALUES (N'N18DCCN003', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[CT_DOAN] ([MASV], [MADOAN], [MAGVHD], [DIEMHD], [MAGVPB], [DIEMPB], [MATIEUBAN]) VALUES (N'N18DCCN004', N'DOAN001   ', N'GV001     ', 9, N'GV002     ', 8, N'TB002     ')
INSERT [dbo].[CT_TIEUBAN] ([MATIEUBAN], [MAGV]) VALUES (N'TB001     ', N'GV001     ')
INSERT [dbo].[CT_TIEUBAN] ([MATIEUBAN], [MAGV]) VALUES (N'TB001     ', N'GV002     ')
INSERT [dbo].[CT_TIEUBAN] ([MATIEUBAN], [MAGV]) VALUES (N'TB001     ', N'GV003     ')
INSERT [dbo].[DOAN] ([MADOAN], [TENDOAN], [MAGV]) VALUES (N'DOAN001   ', N'Một', N'GV001     ')
INSERT [dbo].[DOAN] ([MADOAN], [TENDOAN], [MAGV]) VALUES (N'DOAN002   ', N'Hai', N'GV001     ')
INSERT [dbo].[GIANGVIEN] ([MAGV], [TENGV]) VALUES (N'GV001     ', N'Tân Hạnh')
INSERT [dbo].[GIANGVIEN] ([MAGV], [TENGV]) VALUES (N'GV002     ', N'Nguyễn Hồng Sơn')
INSERT [dbo].[GIANGVIEN] ([MAGV], [TENGV]) VALUES (N'GV003     ', N'Nguyễn Xuân Sâm')
INSERT [dbo].[HOIDONGBAOCAO] ([MAHDBC], [TENHDBC]) VALUES (N'HDBC01    ', N'Khoa Công Nghệ Thông Tin')
INSERT [dbo].[HOIDONGBAOCAO] ([MAHDBC], [TENHDBC]) VALUES (N'HDBC02    ', N'Hội Đồng Nhà Trường')
INSERT [dbo].[HOIDONGBAOCAO] ([MAHDBC], [TENHDBC]) VALUES (N'HDBC03    ', N'Khoa Quản Trị')
INSERT [dbo].[PHANQUYEN] ([MAPHANQUYEN], [TENPHANQUYEN]) VALUES (0, N'admin')
INSERT [dbo].[PHANQUYEN] ([MAPHANQUYEN], [TENPHANQUYEN]) VALUES (1, N'GV')
INSERT [dbo].[PHANQUYEN] ([MAPHANQUYEN], [TENPHANQUYEN]) VALUES (2, N'SV')
INSERT [dbo].[QUANLY] ([MAQL], [TENQL]) VALUES (N'QL1       ', N'AdminChi')
INSERT [dbo].[QUANLY] ([MAQL], [TENQL]) VALUES (N'QL2       ', N'AdminLong')
INSERT [dbo].[QUANLY] ([MAQL], [TENQL]) VALUES (N'QL3       ', N'AdminTan')
INSERT [dbo].[SINHVIEN] ([MASV], [TENSV], [LOP], [GIOITINH], [XETDOAN]) VALUES (N'N18DCCN001', N'Mai Thiên An', N'D18CQCN01N', N'NAM', 0)
INSERT [dbo].[SINHVIEN] ([MASV], [TENSV], [LOP], [GIOITINH], [XETDOAN]) VALUES (N'N18DCCN002', N'Trung Hùng An', N'D18CQCN02N', N'NAM', 1)
INSERT [dbo].[SINHVIEN] ([MASV], [TENSV], [LOP], [GIOITINH], [XETDOAN]) VALUES (N'N18DCCN003', N'Đặng Tuấn Anh', N'D18CQCN03N', N'NAM', 1)
INSERT [dbo].[TAIKHOAN] ([MADANGNHAP], [MATKHAU], [MAPHANQUYEN]) VALUES (N'GV001     ', N'E10ADC3949BA59ABBE56E057F20F883E                  ', 1)
INSERT [dbo].[TAIKHOAN] ([MADANGNHAP], [MATKHAU], [MAPHANQUYEN]) VALUES (N'GV002     ', N'E10ADC3949BA59ABBE56E057F20F883E                  ', 1)
INSERT [dbo].[TAIKHOAN] ([MADANGNHAP], [MATKHAU], [MAPHANQUYEN]) VALUES (N'GV003     ', N'E10ADC3949BA59ABBE56E057F20F883E                  ', 1)
SET IDENTITY_INSERT [dbo].[TAIKHOANGV] ON 

INSERT [dbo].[TAIKHOANGV] ([STT], [MAGV], [MADANGNHAP]) VALUES (35, N'GV001     ', N'GV001     ')
INSERT [dbo].[TAIKHOANGV] ([STT], [MAGV], [MADANGNHAP]) VALUES (36, N'GV002     ', N'GV002     ')
INSERT [dbo].[TAIKHOANGV] ([STT], [MAGV], [MADANGNHAP]) VALUES (37, N'GV003     ', N'GV003     ')
SET IDENTITY_INSERT [dbo].[TAIKHOANGV] OFF
SET IDENTITY_INSERT [dbo].[TAIKHOANQL] ON 

INSERT [dbo].[TAIKHOANQL] ([STT], [MAQL], [MADANGNHAP]) VALUES (10, N'QL1       ', N'QL1       ')
INSERT [dbo].[TAIKHOANQL] ([STT], [MAQL], [MADANGNHAP]) VALUES (11, N'QL2       ', N'QL2       ')
INSERT [dbo].[TAIKHOANQL] ([STT], [MAQL], [MADANGNHAP]) VALUES (12, N'QL3       ', N'QL3       ')
SET IDENTITY_INSERT [dbo].[TAIKHOANQL] OFF
SET IDENTITY_INSERT [dbo].[TAIKHOANSV] ON 

INSERT [dbo].[TAIKHOANSV] ([STT], [MASV], [MADANGNHAP]) VALUES (41, N'N18DCCN001', N'N18DCCN001')
INSERT [dbo].[TAIKHOANSV] ([STT], [MASV], [MADANGNHAP]) VALUES (42, N'N18DCCN004', N'N18DCCN004')
INSERT [dbo].[TAIKHOANSV] ([STT], [MASV], [MADANGNHAP]) VALUES (43, N'N18DCCN010', N'N18DCCN010')
SET IDENTITY_INSERT [dbo].[TAIKHOANSV] OFF
INSERT [dbo].[TIEUBAN] ([MATIEUBAN], [TENTIEUBAN], [MAHDBC]) VALUES (N'TB001     ', N'Phòng Thi Một', N'HDBC01    ')
INSERT [dbo].[TIEUBAN] ([MATIEUBAN], [TENTIEUBAN], [MAHDBC]) VALUES (N'TB002     ', N'Phòng Thi Hai', N'HDBC02    ')
INSERT [dbo].[TIEUBAN] ([MATIEUBAN], [TENTIEUBAN], [MAHDBC]) VALUES (N'TB003     ', N'Phòng Thi Ba', N'HDBC03    ')
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_MADANGNHAP]    Script Date: 6/11/2021 5:29:02 PM ******/
ALTER TABLE [dbo].[TAIKHOANSV] ADD  CONSTRAINT [UK_MADANGNHAP] UNIQUE NONCLUSTERED 
(
	[MADANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_MASV]    Script Date: 6/11/2021 5:29:02 PM ******/
ALTER TABLE [dbo].[TAIKHOANSV] ADD  CONSTRAINT [UK_MASV] UNIQUE NONCLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_TENTB]    Script Date: 6/11/2021 5:29:02 PM ******/
ALTER TABLE [dbo].[TIEUBAN] ADD  CONSTRAINT [UK_TENTB] UNIQUE NONCLUSTERED 
(
	[TENTIEUBAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHAM]  WITH CHECK ADD  CONSTRAINT [FK_CHAM_DOAN] FOREIGN KEY([MADOAN])
REFERENCES [dbo].[DOAN] ([MADOAN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHAM] CHECK CONSTRAINT [FK_CHAM_DOAN]
GO
ALTER TABLE [dbo].[CHAM]  WITH CHECK ADD  CONSTRAINT [FK_CHAM_GIANGVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIANGVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[CHAM] CHECK CONSTRAINT [FK_CHAM_GIANGVIEN]
GO
ALTER TABLE [dbo].[CT_DOAN]  WITH CHECK ADD  CONSTRAINT [FK_DOAN_GVHD_DOAN] FOREIGN KEY([MADOAN])
REFERENCES [dbo].[DOAN] ([MADOAN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_DOAN] CHECK CONSTRAINT [FK_DOAN_GVHD_DOAN]
GO
ALTER TABLE [dbo].[CT_DOAN]  WITH CHECK ADD  CONSTRAINT [FK_DOAN_GVHD_GIANGVIEN] FOREIGN KEY([MAGVHD])
REFERENCES [dbo].[GIANGVIEN] ([MAGV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_DOAN] CHECK CONSTRAINT [FK_DOAN_GVHD_GIANGVIEN]
GO
ALTER TABLE [dbo].[CT_DOAN]  WITH CHECK ADD  CONSTRAINT [FK_DOAN_GVHD_GIANGVIEN1] FOREIGN KEY([MAGVPB])
REFERENCES [dbo].[GIANGVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[CT_DOAN] CHECK CONSTRAINT [FK_DOAN_GVHD_GIANGVIEN1]
GO
ALTER TABLE [dbo].[CT_DOAN]  WITH CHECK ADD  CONSTRAINT [FK_DOAN_GVHD_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_DOAN] CHECK CONSTRAINT [FK_DOAN_GVHD_SINHVIEN]
GO
ALTER TABLE [dbo].[CT_TIEUBAN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETTIEUBAN_GIANGVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIANGVIEN] ([MAGV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_TIEUBAN] CHECK CONSTRAINT [FK_CHITIETTIEUBAN_GIANGVIEN]
GO
ALTER TABLE [dbo].[CT_TIEUBAN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETTIEUBAN_TIEUBAN] FOREIGN KEY([MATIEUBAN])
REFERENCES [dbo].[TIEUBAN] ([MATIEUBAN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_TIEUBAN] CHECK CONSTRAINT [FK_CHITIETTIEUBAN_TIEUBAN]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_PHANQUYEN] FOREIGN KEY([MAPHANQUYEN])
REFERENCES [dbo].[PHANQUYEN] ([MAPHANQUYEN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_PHANQUYEN]
GO
ALTER TABLE [dbo].[TAIKHOANGV]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOANGV_GIANGVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIANGVIEN] ([MAGV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOANGV] CHECK CONSTRAINT [FK_TAIKHOANGV_GIANGVIEN]
GO
ALTER TABLE [dbo].[TAIKHOANGV]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOANGV_TAIKHOAN] FOREIGN KEY([MADANGNHAP])
REFERENCES [dbo].[TAIKHOAN] ([MADANGNHAP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOANGV] CHECK CONSTRAINT [FK_TAIKHOANGV_TAIKHOAN]
GO
ALTER TABLE [dbo].[TAIKHOANQL]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOANQL_QUANLY] FOREIGN KEY([MAQL])
REFERENCES [dbo].[QUANLY] ([MAQL])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOANQL] CHECK CONSTRAINT [FK_TAIKHOANQL_QUANLY]
GO
ALTER TABLE [dbo].[TAIKHOANQL]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOANQL_TAIKHOAN] FOREIGN KEY([MADANGNHAP])
REFERENCES [dbo].[TAIKHOAN] ([MADANGNHAP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOANQL] CHECK CONSTRAINT [FK_TAIKHOANQL_TAIKHOAN]
GO
ALTER TABLE [dbo].[TAIKHOANSV]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOANSV_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOANSV] CHECK CONSTRAINT [FK_TAIKHOANSV_SINHVIEN]
GO
ALTER TABLE [dbo].[TAIKHOANSV]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOANSV_TAIKHOAN] FOREIGN KEY([MADANGNHAP])
REFERENCES [dbo].[TAIKHOAN] ([MADANGNHAP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOANSV] CHECK CONSTRAINT [FK_TAIKHOANSV_TAIKHOAN]
GO
ALTER TABLE [dbo].[TIEUBAN]  WITH CHECK ADD  CONSTRAINT [FK_TIEUBAN_HOIDONGBAOCAO] FOREIGN KEY([MAHDBC])
REFERENCES [dbo].[HOIDONGBAOCAO] ([MAHDBC])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TIEUBAN] CHECK CONSTRAINT [FK_TIEUBAN_HOIDONGBAOCAO]
GO
ALTER TABLE [dbo].[CHAM]  WITH CHECK ADD  CONSTRAINT [CK_DIEMTIEUBAN] CHECK  (([DIEMTIEUBAN]>=(0) AND [DIEMTIEUBAN]<=(10)))
GO
ALTER TABLE [dbo].[CHAM] CHECK CONSTRAINT [CK_DIEMTIEUBAN]
GO
ALTER TABLE [dbo].[CT_DOAN]  WITH CHECK ADD  CONSTRAINT [CK_DIEMHD] CHECK  (([DIEMHD]>=(0) AND [DIEMHD]<=(10)))
GO
ALTER TABLE [dbo].[CT_DOAN] CHECK CONSTRAINT [CK_DIEMHD]
GO
ALTER TABLE [dbo].[CT_DOAN]  WITH CHECK ADD  CONSTRAINT [CK_DIEMPB] CHECK  (([DIEMPB]>=(0) AND [DIEMPB]<=(10)))
GO
ALTER TABLE [dbo].[CT_DOAN] CHECK CONSTRAINT [CK_DIEMPB]
GO
ALTER TABLE [dbo].[CT_DOAN]  WITH CHECK ADD  CONSTRAINT [CK_GVPB] CHECK  (([MAGVPB]<>[MAGVHD]))
GO
ALTER TABLE [dbo].[CT_DOAN] CHECK CONSTRAINT [CK_GVPB]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [CK_GIOITINH] CHECK  (([GIOITINH]='Nam' OR [GIOITINH]=N'Nữ'))
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [CK_GIOITINH]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [CK_XETDOAN] CHECK  (([XETDOAN]=(0) OR [XETDOAN]=(1)))
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [CK_XETDOAN]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [CK_MAPHANQUYEN] CHECK  (([MAPHANQUYEN]=(0) OR [MAPHANQUYEN]=(1) OR [MAPHANQUYEN]=(2)))
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [CK_MAPHANQUYEN]
GO
ALTER TABLE [dbo].[TAIKHOANGV]  WITH CHECK ADD  CONSTRAINT [CK_TAIKHOANGV] CHECK  (([MADANGNHAP]=[MAGV]))
GO
ALTER TABLE [dbo].[TAIKHOANGV] CHECK CONSTRAINT [CK_TAIKHOANGV]
GO
ALTER TABLE [dbo].[TAIKHOANQL]  WITH CHECK ADD  CONSTRAINT [CK_TAIKHOANQL] CHECK  (([MADANGNHAP]=[MAQL]))
GO
ALTER TABLE [dbo].[TAIKHOANQL] CHECK CONSTRAINT [CK_TAIKHOANQL]
GO
ALTER TABLE [dbo].[TAIKHOANSV]  WITH CHECK ADD  CONSTRAINT [CK_TAIKHOANSV] CHECK  (([MADANGNHAP]=[MASV]))
GO
ALTER TABLE [dbo].[TAIKHOANSV] CHECK CONSTRAINT [CK_TAIKHOANSV]
GO
